.header{
    background-color: khaki;
    display: flex;
    justify-content: space-around;
}
.section{
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
}
.footer{
    background-color: darkgray;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box{
    width: 550px;
    height: 150px;
    background-color: orange;
    border: 1px solid black;
}
.sec{
    width: 300px;
    height: 250px;
    background-color: darkcyan;
    border: 1px solid black;
}
.foot{
    width: 200px;
    height: 200px;
    background-color: lightgray;
    border: 1px solid black;
}
@media (width < 320px){
    .header, .section, .footer{
        display: flex;
        flex-direction: column;
    }
}
@media (width < 768px){
    .header, .section{
        display: flex;
        flex-direction: column;
    }
    .box{
        width: 768px;
        height: 100px;
    }
    .sec{
        width: 768px;
        height: 150px;
    }
    .footer{
        display: flex;
        flex-direction: row;
    }
    .foot{
        width: 300px;
        height: 100px;
    }
}