.orange{
    background-color: orange;
    height: 50px;
    margin: 0.75%;
}
.yellow{
    background-color: yellow;
    height: 150px;
    margin: 0.75%;
}
.blue{
    background-color: lightskyblue;
    height: 80px;
    margin: 0.75%;
    display: flex;
}
.grey{
    background-color: lightslategrey;
    height: 80px;
    margin: 0.75%;
}
/*PC's tamaño + 1024px*/
@media (width > 1024px) {
    .orange{
        width: 47.5%;
        display: inline-block;
    }
    & .yellow{
        height: 300px;
    }
    & .blue{
        width: 31.1%;
        display: inline-block;
    }
    & .grey{
        width: 20.5%;
        display: inline-block;
    }
}
/*Tablets tamaño 768px*/
@media (width > 320px) and (width < 1024px){
    .orange{
        width: auto;
    }
    & .grey{
        width: 48%;
        display: inline-block;
    }
}
/*Movil tamaño 320px*/
@media (width < 320px){
    .orange{
        width: auto;
    }
    & .yellow{
        width: auto;
    }
    & .blue{
        width: auto;
        height: 120px;
    }
    & .grey{
        width: auto;
        height: 50px;
    }
}
